body {
    background-color: #ebe8e8
}

header {
    background-color: #ffffff; 
    color: #777777; 
    height: 60px; 
    border-bottom: solid 1px #cccccc;
    width: 100%; 
    position: fixed; 
    margin-left: -8px; 
    margin-top: -10%; 
    margin-bottom: 20px; 
}

#me {
    background-color: #4aaaa5;
    color: #ffffff; 
    font-family: Georgia; 
    font-size: 28px; 
    height: 60px; 
    width:200px; 
    text-align: center; 
    padding-top: 15px;
    margin-left: 380px; 
    margin-right: 500px;
    margin-top: 0px; 
}

.nav {
    box-sizing: border-box;
    border-right: 1px solid #777777;
    float: left;
    width: 100px;
    padding: 3px;
    height: 30px;
    margin: 12px; 
}

.nav:hover {
    background-color: pink;
} 

#footer {
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    height: 60px; 
    width: 101%; 
    margin-left: -8px; 
    color: white; 
    text-align: center; 
    padding-top: 15px;
    margin-bottom: 0px;
}

.event {
    background-color: #ffffff;
    width: 960px; 
    height:  500px; 
    border: solid 2px #dddddd;
    margin-left: 20%; 
    margin-bottom: 10%;  
    margin-top: 10%;
    padding: 15px; 
}

h2 {
    color: #4aaaa5; 
    width: 400px; 
    height: 25px; 
    font-size: 26px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-bottom: 3px #cccccc solid;  */
}

#selfie {
    border: solid white 5px; 
    float: left;  
    margin-top: 10px; 
    margin-right: 10px; 
    width: 15%; 
    height: 30%; 
    text-align: center; 
    padding: 3px; 
}


.content {
    font-family: Arial; 
    color: gray; 
    border-top: 3px #cccccc solid; 
    width: 100%; 
    height: 420px;  
    font-size: 22px; 
    
}

form {
    height: 50%; 
    width: 100%; 
    margin: 10px; 
}

.fillin {
    width: 90%; 
    height: 20px; 
    margin: 8px; 
}

#messages {
    width: 90%; 
    height: 90%; 
}

#submit {
    width: 10%; 
    height: 30px; 
    background-color: #4aaaa5; 
    margin-top: 20px; 
    color: white; 
    border-radius: 15px;
}

input {
    font-size: 16px; 
    color: gray; 

}

.pics {
    box-sizing: border-box; 
    width: 270px; 
    height: 170px; 
    margin: 20px; 
    padding: 10px;
    text-align: center;
    border: solid 2px #4aaaa5; 
    float: left; 
    color: white; 
}

.banner {
    background-color: #4aaaa5;
    margin-top: 120px; 
    opacity: 0.85;
}

#food {
    background-image: url(images/food.jpg);
    background-repeat: none; 
}

#games {
    background-image: url(images/games.jpg);
    background-repeat: none; 
}

#sleep {
    background-image: url(images/sleep.jpg);
    background-repeat: none;
}

#movies {
    background-image: url(images/movies.jpg\ .jpeg);
    background-repeat: none;
}

#music {
    background-image: url(images/music.jpg);
    background-repeat: none; 
}